/Java/ejer1Prac5/nbproject/private/
/Java/ejer1Prac5/build/
/Java/prac2prac5/nbproject/private/
/Java/prac2prac5/build/
/Java/ejer3prac5/nbproject/private/
/Java/ejer3prac5/build/
/Java/ejer4prac5/nbproject/private/
/Java/ejer4prac5/build/
/Java/parcial1/nbproject/private/
/Java/parcial1/build/
/Java/parcial2/nbproject/private/
/Java/parcial2/build/
/Java/parcial3/nbproject/private/
/Java/parcial3/build/
/Java/Parcial4/nbproject/private/
/Java/Parcial4/build/
/Java/parcial5/nbproject/private/
/Java/parcial5/build/
/Java/Parcial6/nbproject/private/
/Java/Parcial6/build/
/Java/Parcial7/nbproject/private/
/Java/Parcial7/build/
/Java/Parcial8/nbproject/private/
/Java/Parcial8/build/
/Java/ParcialesRandom/nbproject/private/
/Java/ParcialesRandom/build/
/Java/Parcial9/nbproject/private/
/Java/Parcial9/build/